*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*** HEADER ***/


header {
    background-color:#0A2342;
    position: relative;
    width: 100%;
  height: 160px;
}

header p {
    position: relative;
    bottom: 20px;
    display: inline-block;
}

#Log {
    font-size: 26px;
  font-family: 'Aboreto1';
  color: white;
  position: absolute;
  top: 50px;
  left: 195px;
}
#tu_mundo {
    font-size: 18px;
  font-family: 'Escuela kanahi';
  color: white;
  position: absolute;
  top: 100px;
  left: 160px;
}   

@font-face {
  font-family: 'Escuela kanahi';
  src: url('../fonts/A-OTF\ はるひ学园\ Std-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aboreto1';
  src: url('../fonts/Aboreto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aboreto2';
  src: url('../fonts/Aboreto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

#logo {

     width: 120px;
  position: absolute;
  top: 20px;
  left: 20px;
}


nav {
    text-align: center;
    font-family: 'Escuela kanahi';
    word-spacing: 20px;
    position: absolute;
     top: 60px;
    width: 60%;
     left: 20%;
   
}

nav li {
    display: inline-block;
    
}

nav a {
    color: #B8E986;
    font-size: 24px;
    text-decoration: none;
}

#Avatar {
    width: 50px;
    border-radius: 100%;
  
}

header div {
     width: 140px;
    /* border: 1px solid red; */
    position: fixed;
    top: 30px;
    right: 0px;


}


#Principal {
    background-image: url('images/wix/imagen_principal.png');
        font-size: 30px;
        font-family: 'Escuela kanahi';
        text-align: center;
        padding-top: 10px;




    
}


h1 {

    font-family: 'Aboreto1';
    color: #0A2342;
    font-size: 56px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;


}