*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*** HEADER ***/


header {
    background-color:#0A2342;
    position: relative;
    width: 100%;
  height: 160px;
}

header p {
    position: relative;
    bottom: 20px;
    display: inline-block;
}

#Log {
    font-size: 26px;
  font-family: 'Aboreto1';
  color: white;
  position: absolute;
  top: 50px;
  left: 195px;
}
#tu_mundo {
    font-size: 18px;
  font-family: 'Escuela kanahi';
  color: white;
  position: absolute;
  top: 100px;
  left: 160px;
}   

@font-face {
  font-family: 'Escuela kanahi';
  src: url('../fonts/A-OTF\ はるひ学园\ Std-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aboreto1';
  src: url('../fonts/Aboreto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aboreto2';
  src: url('../fonts/Aboreto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}

#logo {

     width: 120px;
  position: absolute;
  top: 20px;
  left: 20px;
}


nav {
    text-align: center;
    font-family: 'Escuela kanahi';
    word-spacing: 20px;
    position: absolute;
     top: 60px;
    width: 60%;
     left: 20%;
   
}

nav li {
    display: inline-block;
    
}

nav a {
    color: #B8E986;
    font-size: 24px;
    text-decoration: none;
}

#Avatar {
    width: 50px;
    border-radius: 100%;
  
}

header div {
     width: 140px;
    /* border: 1px solid red; */
    position: fixed;
    top: 30px;
    right: 0px;


}

body {
    margin: 0;
}

#Principal {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url('../images/wix/imagen_principal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 30px;
    font-family: 'Escuela kanahi';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 350px;
 
}


h1 { 

    font-family: 'Aboreto1';
    color: #0A2342;
    font-size: 56px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;


}

.tres_secciones {
   font-size:0;


}

.seccion_izquierda {
    background-color: #B8E986;
    width: 15%;
    text-align: center;
    font-family: 'Aboreto1';
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
   
    padding:20px 30px;
    box-sizing:border-box;
}

.seccion_izquierda h3 {
    margin-bottom: 30px;
    padding-bottom: 61px;
}

.seccion_central {
    background-color:#0A2342;
    color: #B8E986;
    font-family: 'Escuela kanahi';
    font-size: 20px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding:0 200px;
    box-sizing:border-box;    
    text-align: justify;
}

.seccion_central p {
    
  margin-bottom: 32px;
    margin-top: 54px;
   
}

.seccion_central button {
  background-color: #B8E986; /* Color de fondo verde */
  color: #0A2342;              /* Color del texto */
  padding: 12px 24px;        /* Espaciado interno (arriba/abajo y lados) */
  border: 1px solid #B8E986;              /* Borde verde */
  border-radius: 8px;        /* Bordes redondeados */
  cursor: pointer;           /* Cambia el cursor al pasar sobre el botón */
  font-family: 'Aboreto2'; /* Fuente del texto */
  font-size: 15px;           /* Tamaño de letra */
  text-align: center;
  transition: background-color 0.3s, transform 0.2s; /* Animación suave */
  margin-bottom: 49px;
  display: block;
  margin: 0 auto 49px auto;
}


.seccion_derecha {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.seccion_derecha img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.Seccion_Nuestros_Articulos {
    background-color: #0A2342;
    padding: 50px 0;
    text-align: center;
    color: #F1F5F9;
    
}

#tachado {
  text-decoration: line-through;
}

.texto_Nuestros_Articulos{
    font-size: 30px;
    font-family: 'Aboreto1';
    margin-bottom: 50px;
    text-align: left;
    position: relative;
    width: 100%;

}

.texto_Nuestros_Articulos h2{
   
    margin-left: 120px;

}

#Cursos_titulo {
    margin-left: 185px;
}

.texto_Nuestros_Articulos p{
    font-size: 18px;
    font-family: 'escuela kanahi';
    margin-bottom: 20px;
    width: 100%;
    position: absolute;
    right: 44px;
    text-align: justify;
    width: 600px;}


.primer_articulo img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.segundo_articulo img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.tercer_articulo img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.cuarto_articulo img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.quinto_articulo img {
    width:100%;
    height:100%;
    object-fit:cover;
}