*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*** HEADER ***/

header {
    border: 1px solid red;
}

#logo {

    margin: 10px 0 0 10px;


}


header p {
    color: white;
    position: relative;
    bottom: 20px;
    display: inline-block;
}

nav {
    font-size: 24px;
    text-align: center;
    width: 30%;
    border: 1px solid red;
    margin: auto;
    position: relative;
    bottom: 40px;
   
}

nav li {
    display: inline-block;
  
}

nav a {

    color: white;
    text-decoration: none;

}

header {

    background-color:black;
}

header div {
    width: 140px;
    border: 1px solid red;
    position: fixed;
    top: 10px;
    right: 0px;


}

/*** MAIN ***/

#banner {
   
    border: 1px solid red;

}

h1 {
    text-align: center;
   
}

#banner p {
    font-size: 150px;
    text-align: center;
    position: relative;
    top: 270px;
    left: 85px
}

#gafas {
   width: 500px;
   margin: auto;
   display: block;


}

#banner #brazo {
  margin: auto;  
  display: block;

}

/*** FOOTER ***/

